.footer {
  height: 100px;
  background-color: #2c2c2ca6;
  backdrop-filter: blur(41.6033px);
  border: 1px solid rgb(16, 16, 16);
  border-radius: 20px;
  width: 100%;
  max-width: 40rem;
  box-shadow: rgb(22, 22, 22) 0px 1px 1px inset;
}