.footer {
  display: flex;
  position: fixed;
  gap: 1em;
  width: auto;
  height: 58px;
  padding: 10px;
  border: 1px solid hsl(0 0% 100% / 0.077);
  bottom: 20px;
  border-radius: 100px;
  z-index: 10;
  background: rgba(22, 22, 22, 0.8);
  box-shadow: rgb(22, 22, 22) 0px 1px 1px inset;
  backdrop-filter: blur(100px) saturate(400%) brightness(100%);
}

.item {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}